<%= form_with model: [@apartment, @water_counter] do |form| %>

   <div>
       <%= form.label :'Показник лічильника' %><br>
       <%= form.number_field(:value,{:max => 999999, :class => 'form-control'})%><br>
   </div>


   </div>
      <%= form.submit ({:class => 'btn btn-success'})%>
   </div>
<% end %>
