<h4> Квартира № <%= @apartment.apartment_number %></h4>
<br>
<h5>Лічильник води.</h5>
<br>
<br>
<br>

<table width="200"  cellspacing="2" cellpadding="4" border="2" >
  <tr bgcolor="#c0c0c0" >

      <th> Показник  </th>
      <th></th>
      <th></th>
  </tr>

  <tr>

    <td><%= link_to @water_counter.value, edit_apartment_water_counter_path(@apartment, water_counter: @water_counter)%></td>
    <% if current_apartment.admin?  %>
    <td><%= link_to ' Видалити', apartment_water_counter_path(@apartment, water_counter: @water_counter),
                    method: :delete,
                    data: { confirm: "Ви впевнені?" } %></td>
    <% end %>
  </tr>

</table>






