<h3> Панель адміністратора </h3>

<li class="nav-item active"><span class="nav-link"> <%= link_to  " Квартири  ", apartments_path %></span> </li>
<li class="nav-item active"><span class="nav-link"> <%= link_to "  Мешканці ", residents_path  %></span> </li>