<h1><%= @login %></h1>
<br>
<br>

<caption>Квартири</caption>
<table width="200"  cellspacing="0" cellpadding="5" border="1" >
  <tr bgcolor="#c0c0c0">
    <th> №  </th>


  <% @apartments .each do |apartment| %>

    <tr>
      <td><%= link_to apartment.apartment_number, apartment%></td>


  <% end %>
  </tr>

</table>


